@import "colors.css";

* {
  all: unset;
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font", JetBrainsMono, monospace;
  font-size: 0.8rem;
  font-weight: 600;
  min-height: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: #434952;
  border-radius: 6px;
}
