@import "colors.css";

* {
  all: unset;
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font", JetBrainsMono, monospace;
  font-size: 0.8rem;
  font-weight: 600;
  min-height: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: #434952;
  border-radius: 6px;
}

tooltip {
  background-color: rgba(10, 14, 20, 0.9);
  border-radius: 4px;
  border: 2px solid #00A2FF;
  padding: 6px 6px;
  box-shadow: 0 0 8px rgba(0, 162, 255, 0.4);
}

tooltip label {
  font-weight: bold;
  color: #00D9FF;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  border-bottom: 0px solid rgba(100, 114, 125, 0.5);
  color: #00D9FF;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar .hidden {
  background-color: rgba(0, 0, 0, 0.8);
}

window#waybar .empty {
  background-color: transparent;
}

window#waybar .solo {
  background-color: rgba(0, 0, 0, 0.8);
}

label:focus {
  background-color: #00A2FF;
}